In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel(r'covid_dataset.xlsx')

In [8]:
df.head(5)

,Date,New cases,Number of cases total,Deaths,Number of deaths total,Healers,Number of healers total,Active cases,Number of cases total - official data
0,2020-03-04,1,1,0,0,0,0,1,1
1,2020-03-05,0,1,0,0,0,0,1,1
2,2020-03-06,4,5,0,0,0,0,5,5
3,2020-03-07,1,6,0,0,0,0,5,5
4,2020-03-08,5,11,0,0,0,0,11,11

In [13]:
# Check the shape of the DataFrame to see the number of rows and columns
print(df.shape)

(730, 9)

In [11]:
# Check for missing values
print(df.isnull().sum())

Date                                     0
New cases                                0
Number of cases total                    0
Deaths                                   0
Number of deaths total                   0
Healers                                  0
Number of healers total                  0
Active cases                             0
Number of cases total - official data    0
dtype: int64

In [12]:
# Perform basic exploratory data analysis to better understand the data
print(df.describe())

          New cases  Number of cases total      Deaths  \
count    730.000000           7.300000e+02  730.000000
mean    7787.091781           1.836899e+06  153.602740
std    10491.176880           1.583359e+06  200.803758
min        0.000000           1.000000e+00    0.000000
25%      352.000000           6.893000e+04   10.000000
50%     2201.500000           1.721209e+06   30.500000
75%    12483.250000           2.866706e+06  281.500000
max    57659.000000           5.684577e+06  956.000000

       Number of deaths total       Healers  Number of healers total  \
count              730.000000    730.000000             7.300000e+02
mean             44312.094521   6985.636986             1.607134e+06
std              37237.091454  10425.027664             1.421345e+06
min                  0.000000    -23.000000             0.000000e+00
25%               2081.500000    223.250000             4.804700e+04
50%              44504.500000   1341.500000             1.445049e+06
75%              75364.750000  10223.250000             2.657154e+06
max             112130.000000  67202.000000             5.099515e+06

        Active cases  Number of cases total - official data
count     730.000000                           7.300000e+02
mean   199954.334247                           1.851400e+06
std    177065.829523                           1.593064e+06
min         1.000000                           1.000000e+00
25%     15140.250000                           6.867000e+04
50%    166614.000000                           1.743032e+06
75%    297647.000000                           2.889318e+06
max    830723.000000                           5.708827e+06

In [16]:
df.duplicated().sum()

0

In [20]:
df.dtypes

Date                                     datetime64[ns]
New cases                                         int64
Number of cases total                             int64
Deaths                                            int64
Number of deaths total                            int64
Healers                                           int64
Number of healers total                           int64
Active cases                                      int64
Number of cases total - official data             int64
dtype: object

In [42]:
db = pd.read_csv(r'C:\Users\Chinu\Downloads\database.csv')

In [46]:
db.head(5)

,Number,Name,Country,Region,Type,Activity Evidence,Last Known Eruption,Latitude,Longitude,Elevation (Meters),Dominant Rock Type,Tectonic Setting
0,210010,West Eifel Volcanic Field,Germany,Mediterranean and Western Asia,Maar(s),Eruption Dated,8300 BCE,50.170,6.85,600,Foidite,Rift Zone / Continental Crust (>25 km)
1,210020,Chaine des Puys,France,Mediterranean and Western Asia,Lava dome(s),Eruption Dated,4040 BCE,45.775,2.97,1464,Basalt / Picro-Basalt,Rift Zone / Continental Crust (>25 km)
2,210030,Olot Volcanic Field,Spain,Mediterranean and Western Asia,Pyroclastic cone(s),Evidence Credible,Unknown,42.170,2.53,893,Trachybasalt / Tephrite Basanite,Intraplate / Continental Crust (>25 km)
3,210040,Calatrava Volcanic Field,Spain,Mediterranean and Western Asia,Pyroclastic cone(s),Eruption Dated,3600 BCE,38.870,-4.02,1117,Basalt / Picro-Basalt,Intraplate / Continental Crust (>25 km)
4,211001,Larderello,Italy,Mediterranean and Western Asia,Explosion crater(s),Eruption Observed,1282 CE,43.250,10.87,500,No Data,Subduction Zone / Continental Crust (>25 km)

In [44]:
print(db.shape)

(1508, 12)

In [45]:
print(db.isnull().sum())

Number                  0
Name                    0
Country                 0
Region                  0
Type                    0
Activity Evidence       1
Last Known Eruption     0
Latitude                0
Longitude               0
Elevation (Meters)      0
Dominant Rock Type     53
Tectonic Setting        7
dtype: int64

In [48]:
db.dtypes

Number                   int64
Name                    object
Country                 object
Region                  object
Type                    object
Activity Evidence       object
Last Known Eruption     object
Latitude               float64
Longitude              float64
Elevation (Meters)       int64
Dominant Rock Type      object
Tectonic Setting        object
dtype: object